body {
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.adocao-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 40px auto;
  overflow: hidden;
  padding: 20px;
}

.descricao {
  flex: 1;
}

.descricao h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.descricao p {
  font-size: 16px;
  margin: 10px 0;
  line-height: 1.5;
}

.nome-animal {
  color: #5e4b8b; 
  font-size: 30px !important; 
  margin: 0 !important;
}

.filtro-animal {
  color: rgb(107 114 128); 
  margin: 0 !important;
}

.btn-adotar {
  margin-top: 30px;
  padding: 15px 30px;
  background-color: #5e4b8b;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-adotar:hover {
  background-color: #483777;
}

.imagem {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center;
  background-color: #ddd;
}

.imagem img {
  width: 100%;
  max-width: 500px;
  height: auto;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
}
