/* Importação de fontes */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F5F7FA !important;
  color: #212529;
}

h1 {
  font-family: 'Roboto';
  font-weight: 600;
  color: #1e1e1e;
  font-size: 2rem;
}

h5 {
  font-family: 'Roboto';
  letter-spacing: -0.05em;
  font-size: 1rem !important;
  color: #737373 !important;
}

h5>p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 3.25rem !important;
  color: #272725 !important;
}

.logo-dashboard {
  font-weight: 700;
  color: #555086 !important;
}

.navbar {
  padding: 15px !important;
  background-color: #ffffff;
  margin-left: 1px;
}

.ativo {
  color: #555086;
  fill: #555086;
}

.bar-ativo {
  width: 5px;
  border-radius: 0 10px 10px 0;
  background: #555086;
}

li:hover {
  background-color: #f3f3f3;
  cursor: pointer;
}

ul>li>a>span {
  font-family: 'Roboto';
}

/* Sidebar links */
.sidebar-space {
  padding: 1.15rem 1.5rem;
}

.sidebar {
  min-width: 260px;
  max-width: 260px;
  transition: margin-left .35s ease-in-out, left .35s ease-in-out, margin-right .35s ease-in-out, right .35s ease-in-out;
  direction: ltr;
  background: #ffffff;
}

.main {
  min-height: 100vh;
  min-width: 0;
  background-color: #9ca3af29;
}

.content {
  padding: 2.5rem 2.5rem 1.5rem;
  flex: 1;
}

.dadosAnimacao {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 40px;
  height: 100%;
  overflow: hidden;
  top: 0;
  right: 0;
}

.iconesDados {
  fill: white;
  width: 25px;
}

/* Cards */
.card {
  border: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  background-color: #fff;
}

.card-title {
  font-size: 1.2rem;
  font-weight: 600;
}

.card-text {
  font-size: 1.8rem;
  font-weight: 700;
}

.cardAnimation {
  z-index: 0;
  overflow: hidden;
}

.cardAnimation:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  height: 100vh;
  width: 32px;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 0.25s ease-out;
}

.cardAnimation:hover .card-title,
.cardAnimation:hover p {
  transition: all 0.1s ease-out;
  color: white !important;
}

.cardAnimation:hover:before {
  transform: scale(50);
}

.cardAnimation[data-color="azul"] .dadosAnimacao,
.cardAnimation[data-color="azul"]:before {
  background-color: #007bff;
}

.cardAnimation[data-color="verde"] .dadosAnimacao,
.cardAnimation[data-color="verde"]:before {
  background-color: #28a745;
}

.cardAnimation[data-color="amarelo"] .dadosAnimacao,
.cardAnimation[data-color="amarelo"]:before {
  background-color: #ffc107;
}

/* Inputs e selects focados */
.form-control:focus,
.form-select:focus {
  border-color: #5550865b !important;
  box-shadow: none;
}

/* Responsividade */
@media (max-width: 768px) {
  .d-flex {
    flex-direction: column;
  }

  .acoes {
    flex-direction: row;
  }
}

@media (min-width: 1px) and (max-width: 991.98px) {
  html:not([data-sidebar-position=right]) .sidebar {
    margin-left: -260px;
    display: none;
  }
}

@media (max-width: 768px) {
  .filtro-search {
    flex-direction: row;
    margin-top: .5rem !important;
  }
}