/* Importação de fontes */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

/* Estilização geral */
body {
  background-color: #F5F7FA !important;
  color: #212529;
}

/* Título da página */
h1 {
  font-weight: 600;
  color: #1e1e1e;
  font-size: 2rem;
}

.logo-dashboard {
  font-weight: 700; 
  color: #555086 !important;
}

.navbar {
  padding: 15px !important;
  background-color: #ffffff;
  margin-left: 1px;
}

.ativo {
  color: #555086;
  fill: #555086;
}

.bar-ativo {
  width: 5px;
  border-radius: 0 10px 10px 0;
  background: #555086;
}

/* Sidebar links */
.sidebar-space {
  padding: 1.15rem 1.5rem;
}

.sidebar{
  min-width: 260px;
  max-width: 260px;
  transition: margin-left .35s ease-in-out, left .35s ease-in-out, margin-right .35s ease-in-out, right .35s ease-in-out;
  direction: ltr;
  background: #ffffff;
}

.img-conta {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  overflow: hidden;
  background: #555086;
}

.main {
  min-height: 100vh;
  min-width: 0;
  background-color: #9ca3af29;
}

.content {
  padding: 2.5rem 2.5rem 1.5rem;
  flex: 1;
}

/* Cards */
.card {
  border: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  background-color: #fff;
}

.card-title {
  font-size: 1.2rem;
  font-weight: 600;
}

.card-text {
  font-size: 1.8rem;
  font-weight: 700;
}

/* Inputs e selects focados */
.form-control:focus,
.form-select:focus {
  border-color: #5550865b !important;
  box-shadow: none;
}

/* Responsividade */
@media (max-width: 768px) {
  .d-flex {
    flex-direction: column;
  }

  .acoes {
    flex-direction: row;
  }
}

@media (min-width: 1px) and (max-width: 991.98px) {
  html:not([data-sidebar-position=right]) .sidebar {
    margin-left: -260px;
    display: none;
  }
}

@media (max-width: 768px) {
  .filtro-search {
    flex-direction: row;
    margin-top: .5rem !important;
  }
}