@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

.container {
    display: flex;
    justify-content: center;
}

.form-bg-white {
    margin: 30px; 
    background-color: #fff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
    padding: 20px;
    border-radius: 8px;
}

label {
    padding-top: 2%;
    padding-bottom: 1%;
}

button {
    background-color: rgb(49, 47, 47);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 15px;
    transition: 0.5s;
    padding: 10px 30px;
    font-family: var(--font-poppins);
    font-weight: 600;
}